<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rideforhopeidaho" version="1.0.0">
    <name>Ride For Hope Idaho</name>
    <description>
Ride For Hope Idaho Website in Mobile   </description>
    <author email="treverj1029@gmail.com" href="http://treverjohnston.com">
       Trever Johnston
    </author>
    <content src="index.html" />
    <icon src="res/RFHIdahoLogo.png" />
    <access origin="*" />
    <allow-navigation href="rideforhopeidaho.com*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
